:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: azure;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header-main {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.header-main > img {
  width: 3em;
  object-fit: contain;
}

.bitcoin-main {
  font-size: 1.2em;
}

.graphic-line {
  width: 100%;
  height: 460px;
}

.button-days-btc {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: .7em;
}

.contenedor-price {
 text-align: center;
}

.price-value {
  color: rgb(14, 203, 129);
}

.price-flex-value {
  display: flex;
}

.titulo {
  display: flex;
  justify-content: center;
  color: yellow;
}
